@charset 'UTF-8';
/* reset */
body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
figure,
figcaption
{
    margin: 0;
    padding: 0;
}

input,
textarea
{
    font-size: 100%; 

    margin: 0;
}

label
{
    cursor: pointer;
}

table
{
    font-size: 100%; 

    border-spacing: 0;
    border-collapse: collapse;
}

th,
td
{
    list-style: none;
}

fieldset,
img
{
    border: 0;
}

img
{
    width: 100%;
    max-width: 100%;
    height: auto;

    vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var
{
    font-weight: normal; 
    font-style: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:after,
q:before
{
    content: '';
}

a,
input
{
    color: inherit; 
    outline: none;
}

a
{
    text-decoration: none;
}

input,
textarea
{
    border-radius: 0;
}

input[type='button'],
input[type='submit']
{
    padding: 0;

    cursor: pointer; 

    border: none;
    background: none;

    -webkit-appearance: none;
}

abbr,
acronym
{
    border: 0;
}

i
{
    font-style: normal;
}

main,
section,
article,
time
{
    display: block;
}

/* /reset */
/* base */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    font-size: 0;
    line-height: 0;

    position: relative;

    letter-spacing: 0;
    word-wrap: break-word;

    color: #242424; 

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

img
{
    width: 100%;
}

.sp
{
    display: none;
}
@media screen and (max-width: 425px)
{
    .sp
    {
        display: block !important;
    }
}

.tb
{
    display: none;
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    .tb
    {
        display: block !important;
    }
}

.pc
{
    display: none;
}
@media screen and (min-width: 1000px)
{
    .pc
    {
        display: block !important;
    }
}

.cf
{
    zoom: 1;
}
.cf:after
{
    display: block;
    clear: both; 

    content: '';
}

a
{
    display: block;
}
a:hover
{
    opacity: .7;
}

/* /base */
#group .heading .h2_01
{
    font-family: 'Crimson Text', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    line-height: 1; 

    text-align: left;
}
@media screen and (max-width: 425px)
{
    #group .heading .h2_01
    {
        font-size: 10.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .heading .h2_01
    {
        font-size: 46px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .heading .h2_01
    {
        font-size: 46px;
    }
}
#group .heading .h2_01 i
{
    display: block; 

    margin-top: 10px;
}
@media screen and (max-width: 425px)
{
    #group .heading .h2_01 i
    {
        font-size: 3.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .heading .h2_01 i
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .heading .h2_01 i
    {
        font-size: 14px;
    }
}

#group .about .h3_01,
#group .other .h3_01
{
    line-height: 1;

    padding-bottom: 28px;

    text-align: center;
    letter-spacing: .02em;

    background: url(../images/common/ttl_3line.png) no-repeat center bottom;
}
@media screen and (max-width: 425px)
{
    #group .about .h3_01,
    #group .other .h3_01
    {
        font-size: 7.875vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about .h3_01,
    #group .other .h3_01
    {
        font-size: 36px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about .h3_01,
    #group .other .h3_01
    {
        font-size: 36px;
    }
}
#group .about .h3_01 i,
#group .other .h3_01 i
{
    display: block; 

    margin-top: .8em;
}
@media screen and (max-width: 425px)
{
    #group .about .h3_01 i,
    #group .other .h3_01 i
    {
        font-size: 3.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about .h3_01 i,
    #group .other .h3_01 i
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about .h3_01 i,
    #group .other .h3_01 i
    {
        font-size: 14px;
    }
}

#group .about .h4_01
{
    font-weight: bold; 
    line-height: 1.8;

    text-align: left;
}
@media screen and (max-width: 425px)
{
    #group .about .h4_01
    {
        font-size: 3.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about .h4_01
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about .h4_01
    {
        font-size: 14px;
    }
}

#group .heading .p_01
{
    font-family: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝', YuMincho, 'HG明朝E', 'ＭＳ Ｐ明朝', serif;
    line-height: 1.6; 

    text-align: left;
}
@media screen and (max-width: 425px)
{
    #group .heading .p_01
    {
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .heading .p_01
    {
        font-size: 16px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .heading .p_01
    {
        font-size: 16px;
    }
}

#group .about .p_01,
#group .about .p_02,
#group .about .p_03
{
    line-height: 1.8; 

    margin-bottom: 1.6em;

    text-align: left;
}
@media screen and (max-width: 425px)
{
    #group .about .p_01,
    #group .about .p_02,
    #group .about .p_03
    {
        font-size: 3.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about .p_01,
    #group .about .p_02,
    #group .about .p_03
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about .p_01,
    #group .about .p_02,
    #group .about .p_03
    {
        font-size: 14px;
    }
}

#group .other .p_01
{
    line-height: 1.6; 

    text-align: center;
}
@media screen and (max-width: 425px)
{
    #group .other .p_01
    {
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .other .p_01
    {
        font-size: 16px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .other .p_01
    {
        font-size: 16px;
    }
}

#group .other .dl_01 dt
{
    line-height: 1.4;
}
@media screen and (max-width: 425px)
{
    #group .other .dl_01 dt
    {
        font-size: 4.375vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .other .dl_01 dt
    {
        font-size: 20px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .other .dl_01 dt
    {
        font-size: 20px;
    }
}
#group .other .dl_01 dt:before
{
    display: inline-block;

    width: 10px;
    height: 1px;
    margin: 0 10px 0 5px;

    content: '';
    vertical-align: middle;

    background-color: #242424;
}
#group .other .dl_01 dt:nth-child(n+2)
{
    margin-top: 2.6em;
}

#group .other .dl_01 dd
{
    line-height: 1.6; 

    margin-top: 1.6em;
}
@media screen and (max-width: 425px)
{
    #group .other .dl_01 dd
    {
        font-size: 3.0625vw;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .other .dl_01 dd
    {
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .other .dl_01 dd
    {
        font-size: 14px;
    }
}

/* layout */
@media screen and (max-width: 425px)
{
    .content
    {
        width: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 999px)
{
    .content
    {
        width: 100%;
    }
}

@media screen and (min-width: 1000px)
{
    .content
    {
        width: 1200px; 
        margin: 0 auto;

        border-right: 1px dotted #242424;
        border-left: 1px dotted #242424;
    }
}

#group .heading
{
    font-size: 0;

    letter-spacing: 0; 

    border-bottom: 1px dotted #221714;
}
@media screen and (max-width: 425px)
{
    #group .heading > *
    {
        width: 100%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .heading > *
    {
        width: 100%;
    }
}
@media screen and (min-width: 1000px)
{
    #group .heading > *
    {
        display: inline-block;

        width: 50%; 

        vertical-align: middle;
    }
}
@media screen and (max-width: 425px)
{
    #group .heading .l_box
    {
        padding: 2%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .heading .l_box
    {
        padding: 2%;
    }
}
@media screen and (min-width: 1000px)
{
    #group .heading .l_box
    {
        padding-left: 90px;
    }
}
#group .heading .l_box .p_01
{
    margin-top: 2.6em;
}

#group .about
{
    border-bottom: 1px dotted #242424;
}
@media screen and (max-width: 425px)
{
    #group .about
    {
        padding: 16% 4%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about
    {
        padding: 70px 4%;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about
    {
        padding: 70px 0;
    }
}
#group .about .l_2col
{
    text-align: center;
}
@media screen and (max-width: 425px)
{
    #group .about .l_2col
    {
        margin-top: 12%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about .l_2col
    {
        margin-top: 70px;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about .l_2col
    {
        margin-top: 70px;
    }
}
@media screen and (max-width: 425px)
{
    #group .about .l_2col .figure_01
    {
        width: 100%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about .l_2col .figure_01
    {
        width: 100%;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about .l_2col .figure_01
    {
        display: inline-block; 

        width: 370px;
        margin-right: 42px;

        vertical-align: top;
    }
}
@media screen and (max-width: 425px)
{
    #group .about .l_2col .l_box
    {
        width: 100%; 
        margin-top: 6%;
    }
}
@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .about .l_2col .l_box
    {
        width: 100%; 
        margin-top: 6%;
    }
}
@media screen and (min-width: 1000px)
{
    #group .about .l_2col .l_box
    {
        display: inline-block;

        width: 420px; 

        vertical-align: top;
    }
}

@media screen and (max-width: 425px)
{
    #group .other
    {
        padding: 16% 4%;
    }
}

@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .other
    {
        padding: 70px 4%;
    }
}

@media screen and (min-width: 1000px)
{
    #group .other
    {
        padding: 70px 0;
    }
}

#group .other .p_01
{
    margin-top: 2em;
}

@media screen and (max-width: 425px)
{
    #group .other .dl_01
    {
        width: 100%; 
        margin-top: 12%;
    }
}

@media screen and (min-width: 426px) and (max-width: 999px)
{
    #group .other .dl_01
    {
        width: 100%; 
        margin-top: 66px;
    }
}

@media screen and (min-width: 1000px)
{
    #group .other .dl_01
    {
        width: 834px; 
        margin: 66px auto;
    }
}

/* /layout */
