@charset "utf-8";
/* base */
* {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  position: relative;
  font-family: $f-crimson;
  font-size: 0;
  letter-spacing: 0;
  line-height: 0;
  word-wrap:break-word;
  color: $c-grey;
}
img {
  width: 100%;
}
.sp {
  display: none;
  @include mq(sp) {
    display: block !important;
  }
}
.tb {
  display: none;
  @include mq(tb) {
    display: block !important;
  }
}
.pc {
  display: none;
  @include mq(pc) {
    display: block !important;
  }
}
.cf {
  zoom: 1;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
a {
  display: block;
  &:hover {
    opacity: .7;
  }
}
/* /base */
