/* layout */
.content {
  @include mq(sp) {
    width: 100%;
  }
  @include mq(tb) {
    width: 100%;
  }
  @include mq(pc) {
    margin: 0 auto;
    border-right: 1px dotted $c-grey;
    border-left: 1px dotted $c-grey;
    width: 1200px;
  }
}

#group {
  .heading {
    border-bottom: 1px dotted $c-black;
    font-size: 0;
    letter-spacing: 0;
    > * {
      @include mq(sp) {
        width: 100%;
      }
      @include mq(tb) {
        width: 100%;
      }
      @include mq(pc) {
        vertical-align: middle;
        display: inline-block;
        width: 50%;
      }
    }
    .l_box {
      @include mq(sp) {
        padding: 2%;
      }
      @include mq(tb) {
        padding: 2%;
      }
      @include mq(pc) {
        padding-left: 90px;
      }
      .p_01 {
        margin-top: 2.6em;
      }
    }
  }
  .about {
    border-bottom: 1px dotted $c-grey;
    @include mq(sp) {
      padding: 16% 4%;
    }
    @include mq(tb) {
      padding: 70px 4%;
    }
    @include mq(pc) {
      padding: 70px 0;
    }
    .l_2col {
      text-align: center;
      @include mq(sp) {
        margin-top: 12%;
      }
      @include mq(tb) {
        margin-top: 70px;
      }
      @include mq(pc) {
        margin-top: 70px;
      }
      .figure_01 {
        @include mq(sp) {
          width: 100%;
        }
        @include mq(tb) {
          width: 100%;
        }
        @include mq(pc) {
          margin-right: 42px;
          width: 370px;
          vertical-align: top;
          display: inline-block;
        }
      }
      .l_box {
        @include mq(sp) {
          margin-top: 6%;
          width: 100%;
        }
        @include mq(tb) {
          margin-top: 6%;
          width: 100%;
        }
        @include mq(pc) {
          vertical-align: top;
          display: inline-block;
          width: 420px;
        }
      }
    }
  }
  .other {
    @include mq(sp) {
      padding: 16% 4%;
    }
    @include mq(tb) {
      padding: 70px 4%;
    }
    @include mq(pc) {
      padding: 70px 0;
    }
    .p_01 {
      margin-top: 2em;
    }
    .dl_01 {
      @include mq(sp) {
        margin-top: 12%;
        width: 100%;
      }
      @include mq(tb) {
        margin-top: 66px;
        width: 100%;
      }
      @include mq(pc) {
        margin: 66px auto;
        width: 834px;
      }
    }
  }
}

/* /layout */