//h2
#group .heading .h2_01 {
  text-align: left;
  font-family: $f-crimson;
  @include fz(46);
  line-height: 1;
  i {
    margin-top: 10px;
    display: block;
    @include fz(14);
  }
}

//h3
#group .about .h3_01,
#group .other .h3_01 {
  text-align: center;
  line-height: 1;
  letter-spacing: .02em;
  padding-bottom: 28px;
  background: url(../images/common/ttl_3line.png) no-repeat center bottom;
  @include fz(36);
  i {
    margin-top: .8em;
    display: block;
    @include fz(14);
  }
}

//h4
#group .about .h4_01 {
  line-height: 1.8;
  text-align: left;
  font-weight: bold;
  @include fz(14);
}

//p
#group .heading .p_01 {
  font-family: $f-serif;
  text-align: left;
  line-height: 1.6;
  @include fz(16);
}
#group .about .p_01,
#group .about .p_02,
#group .about .p_03 {
  margin-bottom: 1.6em;
  text-align: left;
  line-height: 1.8;
  @include fz(14);
}
#group .other .p_01 {
  text-align: center;
  line-height: 1.6;
  @include fz(16);
}

//dl
#group .other .dl_01 {
  dt {
    @include fz(20);
    line-height: 1.4;
    &:before {
      content: '';
      vertical-align: middle;
      display: inline-block;
      margin: 0 10px 0 5px;
      width: 10px;
      height: 1px;
      background-color: $c-grey;
    }
    &:nth-child(n+2) {
      margin-top: 2.6em;
    }
  }
  dd {
    margin-top: 1.6em;
    @include fz(14);
    line-height: 1.6;
  }
}